.navbar {
  background-color: #6E8387; }

.cajaFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fec89a; }

.cajaDerechos {
  grid-area: 1 / 1 / 2 / 2; }

.cajaRedes {
  grid-area: 1 / 2 / 2 / 3; }

.cajaDerechos {
  text-align: center;
  align-self: center; }

.cajaRedes h3 {
  color: #000000;
  margin: 5px 10px;
  text-align: center; }

.cajaRedes ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .cajaRedes ul li {
    list-style: none;
    margin-right: 1rem; }
    .cajaRedes ul li a {
      text-decoration: none;
      color: #000000;
      cursor: pointer; }
      .cajaRedes ul li a :hover {
        opacity: 1;
        color: white; }

@media only screen and (max-width: 480px) {
  .cajaFooter {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); }
  .cajaDerechos {
    grid-area: 1 / 1 / 2 / 2; }
  .cajaRedes {
    grid-area: 2 / 1 / 3 / 2; } }

body {
  padding-top: 60px;
  margin: 0;
  font-family: monospace;
  background: linear-gradient(180deg, #6e8387 35%, #fec89a 100%); }

.cajaIndex {
  color: black;
  text-align: center;
  margin: 30px; }

.container {
  margin-bottom: 10px; }

.contenedorServicios {
  margin-top: 15px; }

.parentServicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #eaeaea;
  margin: 10px; }
  .parentServicios div {
    border: 1px solid black;
    text-align: center;
    margin: 2px; }

.divServicios1 {
  grid-area: 1 / 1 / 2 / 4;
  background-color: #fcd5ce; }

.divServicios2 {
  grid-area: 2 / 1 / 3 / 2; }

.divServicios3 {
  grid-area: 2 / 2 / 3 / 3; }

.divServicios4 {
  grid-area: 2 / 3 / 3 / 4; }

.divServicios5 {
  grid-area: 3 / 1 / 4 / 2; }

.divServicios6 {
  grid-area: 3 / 2 / 4 / 3; }

.divServicios7 {
  grid-area: 3 / 3 / 4 / 4; }

.divServicios8 {
  grid-area: 4 / 1 / 5 / 2; }

.divServicios9 {
  grid-area: 4 / 2 / 5 / 3; }

.divServicios10 {
  grid-area: 4 / 3 / 5 / 4; }

.divServicios11 {
  grid-area: 5 / 1 / 6 / 2; }

.divServicios12 {
  grid-area: 5 / 2 / 6 / 3; }

.divServicios13 {
  grid-area: 5 / 3 / 6 / 4; }

.divServicios14 {
  grid-area: 6 / 1 / 7 / 2; }

.divServicios15 {
  grid-area: 6 / 2 / 7 / 3; }

.divServicios16 {
  grid-area: 6 / 3 / 7 / 4; }

.divServicios17 {
  grid-area: 7 / 1 / 8 / 2; }

.divServicios18 {
  grid-area: 7 / 2 / 8 / 3; }

.divServicios19 {
  grid-area: 7 / 3 / 8 / 4; }

.divServicios20 {
  grid-area: 8 / 1 / 9 / 2; }

.divServicios21 {
  grid-area: 8 / 2 / 9 / 3; }

.divServicios22 {
  grid-area: 8 / 3 / 9 / 4; }

.divServicios23 {
  grid-area: 9 / 1 / 10 / 2; }

.divServicios24 {
  grid-area: 9 / 2 / 10 / 3; }

.divServicios25 {
  grid-area: 9 / 3 / 10 / 4; }

.parentBlog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 15px; }
  .parentBlog div {
    border: 1px solid black;
    text-align: center;
    margin: 5px; }
    .parentBlog div h2 {
      color: #eaeaea; }

.divBlog1 {
  grid-area: 1 / 1 / 2 / 2; }

.divBlog2 {
  grid-area: 1 / 2 / 2 / 3; }

.divBlog3 {
  grid-area: 1 / 3 / 2 / 4; }

@media only screen and (max-width: 480px) {
  .parentBlog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .divBlog1 {
    grid-area: 1 / 1 / 2 / 2; }
  .divBlog2 {
    grid-area: 2 / 1 / 3 / 2; }
  .divBlog3 {
    grid-area: 3 / 1 / 4 / 2; } }

form {
  border: solid 2px black; }

.parentForm {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .parentForm h2 {
    color: #f8edeb;
    text-align: center; }

.divForm {
  justify-self: center; }

.divForm1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 10px; }

.divForm2 {
  grid-area: 2 / 1 / 3 / 2;
  margin: 10px; }

.divForm3 {
  grid-area: 3 / 1 / 4 / 2;
  margin: 10px; }

.divForm4 {
  grid-area: 4 / 1 / 5 / 2;
  margin: 10px; }

.divForm5 {
  grid-area: 5 / 1 / 6 / 2;
  margin: 10px; }

.divForm6 {
  grid-area: 6 / 1 / 7 / 2;
  margin: 10px; }
