header {
  background-color: #6E8387; }

footer {
  background: linear-gradient(to right, #6E8387, #fcd5ce);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

h3 {
  color: #000000;
  margin: 5px 10px; }

.listaRedes {
  padding: 0.5rem;
  display: flex;
  flex-direction: row; }

.itemRedes {
  list-style: none;
  margin-right: 1rem; }
  .itemRedes a {
    text-decoration: none;
    color: #000000;
    cursor: pointer; }

.divLogo {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.tituloPrincipal {
  font-family: monospace;
  font-size: 35px;
  color: black; }
  .tituloPrincipal :hover {
    transform: skewX(25deg);
    color: white; }

.listaMenu {
  background-color: #fcd5ce;
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end; }

.itemMenu {
  list-style: none;
  margin-right: 1rem; }
  .itemMenu a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer; }
  .itemMenu :hover {
    color: white; }

.tablaServicios {
  border: 3px solid black;
  width: 100%; }
  .tablaServicios th, .tablaServicios td {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem; }
  .tablaServicios th {
    background-color: #fec89a; }
  .tablaServicios td {
    background-color: #f8edeb; }
