*{
    margin: 0;
    padding: 0;
}

/* Header */

header{
    background-color: #6E8387;
}

/* Menu */

.divLogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloPrincipal{
    font-family: monospace;
    font-size: 35px;
    color: black;
}

.tituloPrincipal:hover {
    transform: skewX(25deg);
    color: white;
}

.listaMenu{
    background-color: #fcd5ce;
    border: 1px solid black;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.itemMenu{
    list-style: none;
    margin-right: 1rem;
}

.itemMenu a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.itemMenu:hover{
    transform: scale(1.3, 1.3);
}

.itemMenu a:hover{
    color: white;
}

/* Fin Menu */

/* Fin Header */

/* Main */

main{
    margin: 10px;
}

.tituloBlog, .tituloGaleria{
    color: #fec89a;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: #000000;
    font-family: 'Titillium Web', sans-serif;
    /* fuente de google fonts */
    text-align: center;
}

.mainBlog{
    background-image: url("imagenes/imagenFondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeSection article{
    padding: 10px;
    height: 400px;
    overflow: auto;
}

.blogSection article{
    padding: 10px;
    height: 100px;
    overflow: auto;
}

/* .imagenGaleria{
    transform: scale(0.3, 0.3);
} */

/* .imagenGaleria:hover{
    transform:scale(0.6, 0.6)
    
} */

.imagenHome:hover{
    transform: scale(2, 2);
}

.galeriaSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tituloGaleria{
    color: #000000;
}
.wpp a{
    color: #2dc653;
}

/* Fin Body */

/* Tabla */

.tablaServicios{
    border: 3px solid #000000;
    width: 100%;
}

.tablaServicios th, .tablaServicios td{
    border: 1px solid #000000;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.tablaServicios th{
    background-color: #fec89a;
}

.tablaServicios td{
    background-color: #f8edeb;
}

/* Fin Tabla */

/* Formulario */

.tituloFormulario{
    color: #000000;
    text-align: center;
}

.form{
    border: 3px solid #000000;
    padding: 1rem;
    background-color: #f8edeb;
}

.form__item{
    text-align: center;
    margin: 0.25rem;
}

/* Fin Formulario */

/* Fin Main */

/* Footer */

footer{
    /* background-color: #fcd5ce; */
    background: linear-gradient(to right, #6E8387, #fcd5ce);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h3{
    color: #000000;
    margin: 5px 10px;
}

.listaRedes{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.itemRedes{
    list-style: none;
    margin-right: 1rem;
}

.itemRedes a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/* Fin Footer */

/* Grid */

.mainBlog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blogSection1 { grid-area: 1 / 1 / 2 / 2; }
.blogSection2 { grid-area: 1 / 2 / 2 / 3; }
.blogSection3 { grid-area: 1 / 3 / 2 / 4; }

/* Fin Grid */

/* Media Query */

@media only screen and (max-width: 480px){
    .mainBlog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .blogSection1 { grid-area: 1 / 1 / 2 / 2; }
    .blogSection2 { grid-area: 2 / 1 / 3 / 2; }
    .blogSection3 { grid-area: 3 / 1 / 4 / 2; }
}

/* Fin Media Query */

.container-fluid{
    background-color: #6E8387;
}

.contenedorServicios{
    /* padding: 120px; */
    padding-top: 140px;
    padding-bottom: 25px;
}

/* Grilla servicios */

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: solid 1px black;
    background: #eaeaea;
    }
.div1 { 
    grid-area: 1 / 1 / 2 / 4; 
    background-color: #fcd5ce;
}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div8 { grid-area: 4 / 1 / 5 / 2; }
.div9 { grid-area: 4 / 2 / 5 / 3; }
.div10 { grid-area: 4 / 3 / 5 / 4; }
.div11 { grid-area: 5 / 1 / 6 / 2; }
.div12 { grid-area: 5 / 2 / 6 / 3; }
.div13 { grid-area: 5 / 3 / 6 / 4; }

/* .mainServicios{
    text-align: center;
} */

.caja{
    border: 2px solid black;
    text-align: center;
}